<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Feedback.Properties.Settings.AcademicFeedbacksConnectionString"
            connectionString="Data Source=DESKTOP-FKLIET6\SQLEXPRESS;Initial Catalog=AcademicFeedbacks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Feedback.Properties.Settings.AcademicFeedbacksConnectionString1"
            connectionString="Data Source=CHERRYDELAP\SERVER;Initial Catalog=AcademicFeedbacks;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>